body {
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #1b1b32;
	color: #f5f6f7;
	font-family: Tahoma;
	font-size: 16px;
  }
  h1, p {
	margin: 1em auto;
	text-align: left;
  }
  .title-header {
	text-align: center;
}
	.text-header {
	text-align: center;
}
  form {
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  }
  
  fieldset {
	border: none;
	padding: 2rem 0;
	border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
	border-bottom: none;
  }
  
  label {
	display: block;
	margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
	margin: 10px 0 0 0;
	width: 100%;
  }
  
  input, textarea {
	background-color: #0a0a23;
	border: 1px solid #0a0a23;
	color: #ffffff;
	min-height: 2em;
  }
  
  .inline {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
  }
  select{
	min-height:2em;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
  }

  .checkbox-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	user-select: none;
  }
  
  .checkbox-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  .checkbox-label:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  .checkbox-label input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkbox-label input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkbox-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }